project:
  type: book
  output-dir: ../_book

book:
  title: "A Plain Walkthrough of Transformer Models"
  favicon: "images/walk.png"
  author: 
    name: Man Ho Wong
    url: https://www.linkedin.com/in/mh-wong/

  sidebar:
    logo: "images/walk.png"
    collapse-level: 1  # All sections will be closed by default
    style: docked       # This is the key setting
    background: light   # Optional: set a light or dark background
    toggle: true

  back-to-top-navigation: true

  chapters:
    - index.qmd # unnumbered and unlisted by yml settings in the file 
    - overview.qmd # unnumbered by {.unnumbered} next to title in the linked file
    - part: "The One Mechanism"
      collapsed: false
      chapters:
        - module-01.qmd
        - module-02.qmd
        - module-03.qmd
    - part: "The Twofold Training (TBD)"
      chapters:
        - module-04.qmd
        - module-05.qmd
    - part: "The Three Wizards (TBD)"
      chapters:
        - module-06.qmd
        - module-07.qmd
    - part: "The Appendices (TBD)"
      chapters:
        - module-08.qmd
        - module-09.qmd
  
  page-footer: 
    border: true
    center: |
        [Back to Top <i class="bi bi-arrow-up"></i>](#)
        <br> 
        <br>Man Ho Wong, 2026.
         ([CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en))
        <br>[<i class="bi bi-github"></i> Report an issue](https://github.com/manhowong/transformer-walkthrough/issues/new)
        <br>

format:
  html:
    theme: 
      - cosmo
      - custom.scss
    df-print: paged 
    code-copy: true         # Adds a copy button to code blocks
    toc: true               # generates "On this page" TOC (right sidebar)
    toc-title: "On this page"
  
    number-sections: true # numbers headings
    number-depth: 3  # how deep the numbering goes (e.g., 1.1.1)

    mermaid:
      theme: default
    include-in-header:
      text: |  # Add mermaid module for elk layout
        <script type="module">
          import elkLayouts from 'https://cdn.jsdelivr.net/npm/@mermaid-js/layout-elk@0/dist/mermaid-layout-elk.esm.min.mjs';
          mermaid.registerLayoutLoaders(elkLayouts);
        </script>

    grid:
      sidebar-width: 300px  # default width is 250px

    ## add links to right side bar (TOC)
    # code-links:
    #   - text: "Repo"
    #     href: https://github.com/manhowong/transformer-walkthrough
    #     icon: github
    #   - text: "Report an issue"
    #     href: https://github.com/manhowong/transformer-walkthrough/issues

date-format: long
license: CC BY-NC-SA